.Shapka{
	height: 50px;
}
.logo{
	height: 25px;
}
.sy{
	padding-left: 50px;
	padding-top: 20px;
}
.c1{
	height: 745px;
}
.reg{
	padding-left: 60px;
}
.sig{
	padding-left: 110px;
}
.GG{
	height: 780px;
}
.tx{background-image: url(3c.jpg);
}
.tm{
	height: 175px;
}